<div class="chat-header">
  <div class="group-name">
    <%= @room.name%>
  </div>
  <!-- 下のdivタグは模範解答では、さらにdivタグを増やし、"chat-exit"の親要素として記述している。現時点でブラウザ上に問題無いためこのままの記述でいく。なぜもう一つdivタグを追加するかがわからない -->
  <div class="chat-exit">
    <a href="#">チャットを終了する</a>
  </div>
</div>

<div class="chat-messages">
   <%= render partial: 'message', collection: @messages %>
</div>

<%= form_with model: [@room, @message], html: {class: "form"}, local: true do |f|%>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'submit-btn' %>
<% end %>